 {% extends 'index.html' %}
 {% block page-content %}
 <hr/>
 <form action="/login_auth/" method="post" class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text"  name="username" class="input-block-level" placeholder="Email address">
        <input type="password" name="password" class="input-block-level" placeholder="Password">
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
		<p style="color:red">{{ login_err }}</p>
</form>
{% endblock %}
   